/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Fondo de pantalla completo */
body,
html {
    height: 100%;
    overflow-x: hidden;
}

a {
    padding: 9px 20px;
    background-color: #ff6600;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    /* Elimina el subrayado */
}

li {
    padding: -1px -1.5px;
    background-color: #ff6600;
    border: none;
    border-radius: 1px;
    color: white;
    font-size: 3px;
    cursor: pointer;
}

.inicia-sesion {
    padding: 9px 20px;
    background-color: #ff6600;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

@media (max-width: 768px) {
    a {
        font-size: 20px;
        padding: 3px 16px;
    }

    li {
        font-size: 2px;
        padding: -0.5px -1px;
    }

    .inicia-sesion {
        font-size: 16px;
        /* Reducido para ser más pequeño */
        padding: 6px 10px;
        /* Ajustado para ser más compacto */
        margin-left: 50px;
        /* Ajustado para mover más a la izquierda */
        display: inline;
    }
}

@media (max-width: 480px) {
    a {
        font-size: 14px;
        padding: 5px 8px;
    }

    li {
        font-size: 1.5px;
        padding: -0.5px -0.5px;
    }

    .inicia-sesion {
        font-size: 12px;
        /* Reducido aún más para pantallas pequeñas */
        padding: 5px 8px;
        /* Más compacto */
        display: inline;
    }
}

#video-fondo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: center;
    z-index: -1;
}

/* Header */
h1 {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: #ffffff;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    word-wrap: break-word;
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 25px;
        left: 47%;
        transform: translateX(-50%);
    }
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 23px;
        left: 50%;
        transform: translateX(-50%);
    }
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(44, 32, 32, 0.7);
    padding: 25px 20px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

/* Menú desplegable */
.menu {
    display: flex;
}


.menu ul li a:hover {
    background-color: #444;
    border-radius: 5px;
}


#miBoton {
    padding: 8px 17px;
    background-color: #ff6600;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

@media (max-width: 768px) {
    #miBoton {
        font-size: 17px;
        padding: 5px 12px;
        margin-left: 10px;
    }
}

@media (max-width: 480px) {
    #miBoton {
        font-size: 15px;
        padding: 5px 12px;
        margin-left: 10px;
    }
}


/* Barra de búsqueda */
.search-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    padding: 20px;
}

.search-bar {
    border: none;
    background: rgba(255, 255, 255, 0.8);
    padding: 10px;
    font-size: 18px;
    outline: none;
    border-radius: 20px;
    width: 80%;
    max-width: 400px;
}

.search-btn {
    background: rgba(255, 255, 255, 0.8);
    border: none;
    font-size: 20px;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 20px;
    padding: 8px 15px;
}

@media (max-width: 768px) {
    .search-container {
        flex-direction: column;
        padding: 25px;
    }

    .search-bar {
        width: 60%;
    }

    .search-btn {
        font-size: 10px;
        padding: 5px 10px;
    }
}

@media (max-width: 480px) {
    .search-container {
        padding: 10px;
    }

    .search-bar {
        width: 60%;
    }

    .search-btn {
        font-size: 10px;
        padding: 5px 10px;
    }
}



#error-message {
    color: rgb(255, 255, 255);
    display: none;
    "

}

/* Footer */
footer {
    background: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
    padding: 12px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-section .social-media {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 10px;
    /* Reduce el espacio entre los elementos */
    font-size: 14px;
    /* Reduce el tamaño de los elementos */
}

.footer-section .social-media li {
    margin-top: 10px;
    /* Espaciado entre los elementos de la lista */
}

.footer-section .social-media li a {
    color: rgb(255, 254, 253);
    font-size: 17px;
}

.footer-section.subscribe form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
}

.footer-section.subscribe input[type="email"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 225px;
    text-align: center;
}

.footer-section.subscribe label.subscribe-btn {
    background-color: #ff6600;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    padding: 8px 15px;
    text-align: center;
    display: inline-block;
}

.footer-section.subscribe label.subscribe-btn:hover {
    background-color: #d94e00;
}


.footer-section .social-media li a:hover {
    color: #ffd10560;

}

.success-message {
    display: none;
    background-color: #f4f4f4;
    color: #5f5906;
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
    opacity: 0;
    transform: scale(0.5);
    /* Comienza pequeño */
    animation: growMessage 1s forwards;
    /* Aplicamos la animación */
}

@keyframes growMessage {
    0% {
        opacity: 0;
        transform: scale(0.5);
        /* Inicia en tamaño pequeño */
    }

    100% {
        opacity: 1;
        transform: scale(1);
        /* Aumenta al tamaño original */
    }
}

/* Mostrar el mensaje cuando el checkbox está marcado */
.subscription-checkbox:checked+.success-message {
    display: block;
}