/*estilos de portada*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Fondo de pantalla completo */
body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

#video-fondo {
    position: fixed;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    z-index: -1;
}

.navbar {
    display: flex;
    margin-top: 5%;
    justify-content: space-between;
    background: rgba(44, 32, 32, 0.2);
    align-items: center;
    padding: 20px;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

/* Menú hamburguesa */
.menu-icon {
    font-size: 30px;
    cursor: pointer;
    color: white;
}

/* Menú desplegable */
.menu {
    display: none;
    position: absolute;
    top: 60px;
    left: 20px;
    background: rgba(0, 0, 0, 0.8);
    padding: 10px;
    border-radius: 5px;
}

.menu.active {
    display: block;
}

.menu ul {
    list-style: none;
}

.menu ul li {
    margin: 10px 0;
}

.menu ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 10px;
    display: block;
}

.menu ul li a:hover {
    background-color: #444;
}

/* Botón de Suscribirse */
.subscribe-btn {
    padding: 10px 20px;
    background-color: #0d0d0e;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.subscribe-btn:hover {
    background-color: #0056b3;
}


/* Barra de búsqueda */
.search-container {
    width: 30%;
    padding: 10px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: relative;
    top: -5%;

}

.search-bar {
    border: none;
    background: rgba(255, 255, 255, 0.8);
    padding: 10px;
    font-size: 18px;
    outline: none;
    border-radius: 20px;
    width: 65%;
    /* AjPara que ocupe más espacio dentro del contenedor */

}

.search-btn {
    background: rgba(255, 255, 255, 0.8);
    border: none;
    font-size: 20px;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 20px;
    padding: 8px 15px;
}

.search-btn i {
    font-size: 20px;
    /* Ajusta el tamaño del icono si es necesario */
}

h1 {
    width: 100%;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: white;
    margin-bottom: 50px;
    font-size: 50px;
    margin-top: 0;
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
}

/* Estilos para el pie de página */
footer {
    background-color: white;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

/* Estilos de las redes sociales */
.footer-section .social-media {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.footer-section .social-media li a {
    color: #726708;
    font-size: 20px;
    text-decoration: none;
}

.footer-section .social-media li a:hover {
    color: #7a660c60;
}

/* Estilo para el formulario de suscripción */
.footer-section.subscribe form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.footer-section.subscribe input[type="email"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 250px;
}

.footer-section.subscribe label.subscribe-btn {
    padding: 10px 20px;
    background-color: whitesmoke;
    border: 1px solid #7a660c60;
    color: black;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    display: inline-block;
}

.footer-section.subscribe label.subscribe-btn:hover {
    background-color: #7a660c60;
}

.success-message {
    display: none;
    background-color: #f4f4f4;
    color: #5f5906;
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
    opacity: 0;
    transform: scale(0.5);
    /* Comienza pequeño */
    animation: growMessage 1s forwards;
    /* Aplicamos la animación */
}

@keyframes growMessage {
    0% {
        opacity: 0;
        transform: scale(0.5);
        /* Inicia en tamaño pequeño */
    }

    100% {
        opacity: 1;
        transform: scale(1);
        /* Aumenta al tamaño original */
    }
}

/* Mostrar el mensaje cuando el checkbox está marcado */
.subscription-checkbox:checked+.success-message {
    display: block;
}



/* Estilos Responsivos */
@media screen and (max-width: 768px) {
    .subscribe-btn {
        font-size: 14px;
        padding: 8px 16px;
    }

    .search-container {
        width: 80%;
    }

    .menu {
        top: 50px;
        left: 10px
    }
    

}