/* Estilo para el menú desplegable */


.menu {
    text-decoration: none;
    color: #1f1717;
    list-style: none;
    padding: 0;
    margin-left: 15px;
    margin-bottom: 50px;
}


.submenu {
    display: none;
    list-style: none;
    padding-left: 20px;
}

.tipo {
    text-decoration: none;
    color: #201c1c;
    padding: 0px;
}

li:hover > ul.submenu {
    display: block;
}

a.dropdown {
    cursor: pointer;
}


h1 {
    color: #d81c1c;
    font-size: 50px;
    margin-top: 50px;
    text-align: center;
    background-color: #ffffff;
    padding: 10px;
    display: inline-block;
    border-radius: 5px;
}


/* Estilo para la barra lateral */
.barra-lateral {
    width: auto;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #ca2f2f; /* Fondo blanco para la barra lateral */
    box-shadow: 2px 0 5px rgba(49, 42, 42, 0.1); /* Sombra para la barra lateral */
    z-index: 500; /* Asegura que la barra esté por encima de otros elementos */
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
}


ul {
    padding: 0;
    color: #252323;
}
li {
    padding: 16px 0;
    color: #252323;
}

/* Contenedor de imágenes */
.contenedor-imagenes {
    display: grid;         /* Activa el diseño flexible */
    grid-template-columns: repeat(3, 1fr); /* Tres columnas de igual tamaño */
    justify-content: center; /* Centra las imágenes horizontalmente */
    gap: 75px;            /* Espacio entre imágenes */
    padding: 2px;        /* Espaciado alrededor */
    margin: 0 auto;       /* Centra el contenedor */
    position: fixed;      /* Fija el contenedor en la pantalla */
    top: 50%;             /* Centra verticalmente */
    left: 50%;            /* Centra horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta la posición para centrar */
    z-index: 0;        /* Asegura que el contenedor esté por debajo del fondo */
}

.contenedor-imagenes img {
    width: 150%;       /* Ancho al 100% del contenedor */
    height: 150px;    /* Altura fija para todas las imágenes */
    object-fit: cover; /* Ajusta la imagen para cubrir el contenedor */
    border-radius: 10px; /* Esquinas redondeadas */
    box-shadow: 2px 2px 10px rgba(204, 21, 21, 0.2); /* Sombra ligera */
    transition: transform 0.3s ease-in-out; /* Efecto al pasar el mouse */
    position: relative; /* Posiciona el contenedor de la imagen */
    
}
  
    

.contenedor-imagenes img:hover + .overlay {
    opacity: 1; /* Muestra la superposición al pasar el mouse */
    
}


/* Efecto al pasar el mouse */
.contenedor-imagenes img:hover {
    transform: scale(2.1); /* Hace la imagen un poco más grande */
    z-index: 1; /* Asegura que la imagen esté por encima de otras */
}



body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('https://www.chio-lecca.edu.pe/cdn/shop/articles/chio-lecca-blog-estilo-y-moda.jpg?v=1673918894') center/contain no-repeat;
    opacity: 0.5; /* Ajusta la opacidad */
    z-index: -1;
}
body{
    width: 50%;
    margin-left: 100PX;
}

